/* .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
} */

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600 !important;
}

.input-group input[type="number"] {
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-group.required label:not(:empty)::after {
    content: ' *';
    color: #ff0000;
}

.col-form-label-sm span.required {
    color: #ff0000;
}

.col-xl-05, .col-xl-data {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .col-xl-05 {
        -ms-flex: 0 0 5%;
        flex: 0 0 5%;
        max-width: 5%;
    }

    .col-xl-data {
        -ms-flex: 0 0 13.35%;
        flex: 0 0 13.35%;
        max-width: 13.35%;
    }
}
