/* .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
} */
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}

.nav-compact .nav-header:first-of-type {
    padding-left: 1rem !important;
}

.content-wrapper {
    padding-bottom: 3rem!important;
}

.card .shadow-xs {
    border: 1px solid rgba(0,40,100,.12);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

#card-produtos, #card-contas-pagar {
    width: 100%;
}

.table-sm td {
    vertical-align: middle !important;
}

.modal .table-hover tbody tr:hover {
    cursor: pointer;
}

.table-hover tbody tr:hover {
    transition: .25s ease-in-out;
}

#produtos-table input {
    outline: 0 !important;
    color: inherit !important;
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
}

#produtos-table tbody tr {
    cursor: pointer;
}

.card-body::after, .card-footer::after, .card-header::after {
    display: none !important;
}

.options-bar {
    align-items: center !important;
    justify-content: space-between !important;
    padding-bottom: 0.85rem !important;
}

.dataTables_length label {
    margin-bottom: 0;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600 !important;
}

/* .input-group input[type="number"] {
    text-align: right;
} */
input[type="number"] {
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

strong.is-invalid {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.custom-select.is-valid:focus, .form-control.is-valid:focus,
.was-validated .custom-select:valid:focus, .was-validated .form-control:valid:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25) !important;
}

.custom-select.is-invalid:focus, .form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: #dc3545 !important;;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25) !important;;
}

.form-group.required label:not(:empty)::after {
    content: ' *';
    color: #ff0000;
}

.col-form-label-sm span.required {
    color: #ff0000;
}

.col-xl-05, .col-xl-data {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .col-xl-05 {
        -ms-flex: 0 0 5%;
        flex: 0 0 5%;
        max-width: 5%;
    }

    .col-xl-data {
        -ms-flex: 0 0 13.35%;
        flex: 0 0 13.35%;
        max-width: 13.35%;
    }
}

.modal-backdrop {
    display: none;
}

.modal {
    background: rgba(0, 0, 0, 0.35);
}

/* teste */
.filterIcon {
    height: 16px;
    width: 16px;
}

.modalFilter {
    display: none;
    height: auto;
    background: #FFF;
    border: solid 1px #ccc;
    padding: 8px;
    position: absolute;
    z-index: 1001;
}

.modalFilter .modal-content {
    max-height: 250px;
    overflow-y: auto;
}

.modalFilter .modal-footer {
    background: #FFF;
    height: 35px;
    padding-top: 6px;
}

.modalFilter .btn {
    padding: 0 1em;
    height: 28px;
    line-height: 28px;
    text-transform: none;
}
